%% -*- erlang -*-
%% Config file for spi application

{deps_dir, ["deps"]}.
{deps, [{enet, ".*", {git, "git@github.com:Feuerlabs/enet.git"}},
	{lager, ".*", {git, "git://github.com/Feuerlabs/lager.git"}}
       ]}.

{erl_opts, [debug_info, fail_on_warning]}.
{sub_dirs, ["src"]}.

{port_env, [
	    {"CFLAGS", "$CFLAGS -DDEBUG_MEM -DDLOG_DEFAULT=DLOG_NONE"}
	   ]}.

{port_specs, [
	      {"(linux|darwin)","priv/eth_drv.so",
	       [ "c_src/eth_bpf.c",
		 "c_src/eth_drv.c"
	       ]}
	     ]}.

